@font-face {
    font-family: 'digital-7';
    src: url('digital-7.ttf');
}
body {
    background-color: black;
}
table {
    font-family: fantasy;
    background-color: black;
    margin: auto;
}
#result {
    width: 347px;
    height: 100px;
}
.button {
    width: 72px;
    height: 66px;
    font-size: 25px;
    font-family: digital-7;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    background-color: #4d0b0b;
    border: 2px solid rgb(253, 8, 8); 
    opacity: 0.6;
    transition: 0.1s;
}
#C {
    height: 136px;
}

input[type=button]:hover {
    background-color: #b69393;
    color: rgb(0, 0, 0);
  }
input[type=button]:active {
      transform: translateY(6px);
  } 
#Del {
    height: 136px;
}
input[type = text] { 
    font-family: digital-7;
    display: block;
    margin: 5px auto;
    font-size: 60px;
    padding: 10px;
    box-shadow: 0px 6px 5px black;
    cursor: not-allowed;
  }
